@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@600&family=Roboto+Mono:wght@300;500&display=swap');

/* variables */
:root {
    --primary-color: #5924ed;
    --secondary-black: #0d081a;
    --secondary-gray: #48464b;
    --body-bg: #efebfa;
}

/* Global Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 10px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    height: 100%;
}


.buttons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.primary-btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: .4em 1em;
    border-radius: 50px;
    font-size: 1.4rem;
}

.buttons svg {
    width: 50px;
    color: var(--primary-color);
}
/* Hero Section */

#hero {
    height: 100vh;
    width: 100%;
    padding-top: 8rem;
}

#hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container .left {
    flex: 6;
}

#hero .container .right {
    flex: 8;
}

#hero .left .subheading {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1rem;
    opacity: 0;
    animation: reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero .left .heading {
    font-family: "Montserrat", sans-serif;
    font-size: 3.6rem;
    font-weight: 900;
    margin-top: 1.1rem;
}

#hero .left .heading .wrapper{
    display: inline-block;
    overflow: hidden;
}
#hero .left .heading .wrapper span {
    position: relative;
    bottom: -70px;
    animation: apear 1s ease forwards;
}

@keyframes apear {
    0% {
        bottom: -70px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#hero .left .desc {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    opacity: 0;
    animation: reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero .left .buttons {
    opacity: 0;
    animation: reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero .right {
    text-align: right;
}

#hero .right img {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 600px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 12px;
    top: -700px;
    animation: top-com 1.1s ease-out forwards;
    animation-delay: 1s;
}

@keyframes top-com {
    0% {
        top: -700px;
    }
    100% {
        top: 0px;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 950px) {
    #hero .container .right {
        flex: 6;
    }
}



/* Services Section */
#services {
    padding: 15rem 0;
}

#services .all-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

#services .item {
    padding: 1.5rem;
    border-radius: 12px;
}

#services .item:nth-child(1):hover {
    background-color: rgb(8 69 241 / 35%);
}

#services .item:nth-child(2):hover {
    background-color: rgb(0, 255, 115, 0.151);
}

#services .item:nth-child(3):hover {
    background-color: #cbbef093;
}

#services .item .icon {
    width: 50px;
    height: 50px;
    padding: .8rem;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#services .item-heading {
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
}

#services .item-desc {
    color: var(--secondary-gray);
}


